.welcomeCircleContainer {
	position: absolute;
	top: calc(50% - 9rem);
	left: calc(50% - 5rem);
	margin-bottom: 9rem;
}

.welcomeCircle {
	width: 10rem;
	height: 10rem;
	background: #2c3e50; 
	background: linear-gradient(74deg, #20f51f, #331ddf);
	background-size: 120% 120%;

	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.welcomeText {
	font-size: 1.5rem;
}

.splitTextSingleWord {
	font-size: 1rem;
	font-weight: bold;
}